.App {
  text-align: center;
}

ul,li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list_item {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.list-span {
  height: 100%;
  display: flex;
  gap: 30px;
  font-size: 40px;
}

form input {
  font-size: 40px;
}

.todo {
  width: 40%;
  padding: 0;
  border: 1px solid black;
}

.btn-clear {
  visibility: hidden;
  cursor: auto;
}

.list_item:hover .btn-clear{
  visibility: visible;
  cursor: auto;
}

.list-span input:checked ~ .text-span {
  text-decoration: line-through;
}

